@CHARSET "UTF-8";

/* Стили общие для всех страниц */

html {
	overflow-y: scroll;	
}

body {
	min-width: 800px;
	max-width: 1366px;	
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-image: url("../images/bg2.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

td {
	padding-bottom: 20px;
}



