@CHARSET "UTF-8";

/* Стили слайдера */

.slider {
	width: 100%;
}
.image-conteiner {
	width: 100%; 
	margin: 0px;
}
.current-image {
	border-style: none;
	border-width: 0px;
	border-radius: 5px;
	padding: 0px;
	display: block;
	position: relative;		
}
.prev, .next {
	display: block;
	position: relative;	 
	width: 50%;
}
.prev {
	float:left;
}
.next {
	float:right;
}
a.prev:HOVER {
	
	background-image: url('../images/prev.png');
	background-position: left center;
	background-repeat: no-repeat;	
}
a.next:HOVER {
	background-image: url('../images/next.png');
	background-position: right center;
	background-repeat: no-repeat;	
}
