@CHARSET "UTF-8";

/* Cтили структурных элементов */

#head, #photo, #short-info, #menu, #content, #footer {	
	padding: 5px;
}

#head, #menu, #content, #footer {
	box-shadow: 0 0 20px #990000;	
	border-radius: 5px;
	background-color: rgba(00, 00, 00, 0.75);
	/* background: linear-gradient(to left, rgba(00, 00, 00, 0.95), rgba(00, 00, 00, 0.2)); */
}

#head {
	font-size: 110%;
}

#photo {
	float: left;	
}

#short-info {
	margin-left: 145px;
	text-align: left;	
}

#menu {	
	float: left;
	width: 200px;
}

#menu > p > a {
	text-decoration: none;
	color: #990000;
	font-weight:bold;
}

#menu > p > a:VISITED {
	color: #990000;
}

#menu > p > a:HOVER {
	color: #CC0000;
	font-size: 105%;
	text-decoration: underline;
}

#menu > p.tree-root {
	
}

#menu > p.tree-lavel-1 {
	padding-left: 20px;
}

#menu > p.tree-lavel-2 {
	padding-left: 40px;
}

#menu > p.tree-lavel-3 {
	padding-left: 60px;
}

#content.no-menu {
	margin-left: 0px;
}

#content.no-border {
	border-style: none;
	box-shadow: none;
}

#content {
	margin-left: 225px;
	padding: 0px;
	
}

#footer {
	clear: left;
	margin-top: 20px;
	padding-top: 15px;
	text-align: right;	
	font-style: italic;
	font-weight:bold;
	height: 30px;
	color: #990000;
		
}
